@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Artikkel 2";
}
<h2>@ViewBag.Title.</h2>
@if (!ViewBag.HasBought)
{
    var url = "https://www.partikkel.io/particket/access/?url=" + Request.Url;
    <h3>Denne artikkelen koster kr 2,-</h3>
    <a href="@url">Klikk her for å kjøpe artikkelen</a>
}
else
{
    <h3>@ViewBag.Message</h3>
    <p>Enda en spennende artikkel som kan koster penger å lese</p>
}