@{
    ViewBag.Title = "Partikkel .NET demo";
}

<div class="jumbotron">
    <h1>Partikkel .NET demo</h1>
    <p class="lead">Dette er en webside for å demonstrere Partikkel på .NET plattformen.</p>
    <p><a href="http://www.partikkel.io" class="btn btn-primary btn-lg">Klikk her for å finne ut mer om Partikkel.</a></p>
</div>